.certification-description{
    font-size: 25px;
}

.certification-card{
    padding: 20px;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.button-link a{
        text-decoration: none; /*retira o sublinhado dos nomes */
        align-items: center;
}

.button-model{
    padding: 5px 10px;
    margin-right: 6px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: black;
    color: white;
}
.certification-place{
    font-weight: bold;
}

.certification-institution{
    font-weight: bold;
}

.certificate-icon{
    display: inline-block;
 	font-size: inherit;
 	height: 2em;
 	overflow: visible;
 	vertical-align: -.125em;
}

.certification-dates{
    color: grey;
}

