.header{
    display: flex;
    background-color: yellow;
    justify-content: space-between; /* joga o conteudo para as pontas*/
    flex: 1;
    padding: 12px; /*distancia para o topo do header*/
    position: relative;
    align-items: center;
    
}

.menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon{
    font-size: 24px;
    
}

.mobile-menu{
    display: none;
}

.web-menu{
    display: flex;
}

.logo{
    display: flex;
    font-size: 36px;
    color: blueviolet;
    font-weight: 800;
}

@media only screen and (max-width: 720 px){
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}