.company-name{
    font-size: 25px;
}

.work-card{
    padding: 50px;
    width: 100%;
    margin: 35px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    flex-direction: row;
}

.work-card{
    height: 90px;
}

.work-info{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: baseline;
    
}

.work-dates{
    color: gray;
    align-items: flex-start;
}

.work-desc{
    align-items: center;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.work-designation{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;

}

@media only screen and (max-width: 720px){
    .work-card{
        width: 100%;
        height: 32px;
}}